{% include ('header.html') %}


<div class="titulo_principal">
    <h2>GESTIONAR</h2>
</div>


<div class="contenedor_gestionar_potreros">
    <nav class="nav_gestionar_potreros">
      <a href="{{ url_for('info_gestion') }}">Informes</a>
      <a href="{{ url_for('rmostrar') }}">Rotar</a>
      <!-- <a href="{{ url_for('registerpotrero') }}">Potreros</a> -->
      <a href="{{ url_for('listapotreros') }}">Listar potreros</a>
      <a href="{{ url_for('lotes') }}">Lotes</a>
              <!-- Botón para crear nuevo potrero -->
              <input type="checkbox" name="" id="modal_potrero_crear" class="modal_potrero_crear">
              <label for="modal_potrero_crear" class="btn_potrero_crear">
                <ion-icon name="add-outline"></ion-icon>
                <h3>Crear nuevo potrero</h3>
              </label>
      
              <!-- Botón para crear un nuevo lote -->
              <input type="checkbox" name="" id="btn_modal_crearlote" class="modal_lote_crear">
              <label for="btn_modal_crearlote" class="btn_lote_crear">
                <ion-icon name="add-outline"></ion-icon>
                <h3>Crear nuevo lote</h3>
              </label> 
      <div class="linea_nav_gestionar"></div>
      <div class="animation start-home"></div>
    </nav>



  <form action="/rotarlote" method="POST">
  
      
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
  <div class="contenedor_rotacion">
      <div class="contenedor_izquierda">
        <div class="columnas">
          <div class="contenedor_input">
          
          <div class="form-floating">
            <select class="form-control elegir_potrero" id="opcioness" name="potrero"   onchange="consultarBaseDeDatos()" >
                <option value="" selected disabled>Selecciona el Potrero</option>
                {% for opcionP in opcionesP %}
                    <option value="{{ opcionP.idpotrero }}">{{ opcionP.nombre }}</option>
                {% endfor %}
            </select>
          </div>
        </div>
        
          
        </div>
        
        <div class="izquierda">
          <div class="columnas">
            

            <div class="contenedor_input">
                <label for="lote_ocupante">Lote Ocupante</label>
                  <select class="lote_ocupante_2 elegir_potrero" id="opciones" name="lote">
                      <option value="" selected disabled >Selecciona el Lote</option>
                      {% for opcionL in opcionesL %}
                          <option value="{{ opcionL.idlote }}">{{ opcionL.nombre }}</option>
                      {% endfor %}
                  </select>
              </div>
  
              
              
              
              <div class="contenedor_input">
                <label for="zona">Zona</label>
                <input id="zona" name="zona" value="{{ consulta }}">

              </div>
              
            </div>
  
            <div class="columnas">
              <div class="contenedor_input">
                <label for="estado">Estado</label>
                <input type="text" id="estado" name="">
              </div>
              
              <div class="contenedor_input">
                <label for="dias">Días</label>
                <input type="text" id="dias" name="">
              </div>
            </div>
  
  
            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="">

            <label for="observacion">Observación</label>
            <textarea name="observacion" id="" cols="auto" rows="5"></textarea>
  
  
          </div>
  
          <button type="submit" onclick="">
            <ion-icon name="reload-outline"></ion-icon>
            Realizar Rotación
          </button>
  
        </div>
        <div class="contenedor_linea_dividir">
            <div class="linea_dividir"></div>
            <ion-icon name="chevron-forward-outline"></ion-icon>
            <div class="linea_dividir"></div>
        </div>
        <div class="contenedor_derecha">
          <h1>Lote</h1>
          <div class="derecha">
            <label for="lote_ocupante">Lote</label>
            <input type="text" id="lote_ocupante" name="">
  
            <label for="ubicacion">Ubicación</label>
            <input type="text" id="ubicacion" name="">
  
            <label for="dias">Días</label>
            <input type="text" id="dias" name="">
          </div>
        </div>
    </div>
</form>







<!-- MODAL CREAR NUEVO LOTE -->
<div class="contenedor_modal_crear_lote">
  <div class="contenido_modal_crear_lote">
      <div class="contenedor_titulo_icono">
          <div class="titulo_modal_crear_lote">
              <h2 class="titulo_modal">Crear lote</h2>
          </div>
          <div class="icono_1_crear_lote">
              <input type="checkbox" id="btn_close_modal_lote" class="btn_modal_cancelar_icono">
              <label for="btn_close_modal_lote">
                  <ion-icon for="btn_modal_cancelar_icono" class="" name="close-outline"></ion-icon>
              </label>
          </div>
      </div>
  
  
  
      <form action="">
          <div class="contenedor_crear_lote">
              <div class="contenedor_nombre_lote">
                  <label for="">Nombre del lote</label>
                  <input type="text" name="">
              </div>
  
  
              <div class="contenedor_potrero_ocupante">
                  <label for="">Potrero ocupante</label>
                  <select id="cars" name="cars">
                      <option value="volvo">Volvo</option>
                      <option value="saab">Saab</option>
                      <option value="mercedes">Mercedes</option>
                      <option value="audi">Audi</option>
                  </select>
              </div>
  
          </div>
  
          <div class="contenedor_modal_botones_crearlote">
              <div class="btn_cancelar">
                  <input type="checkbox" id="btn_cancelar_modal_lote" class="btn_modal_cancelar_crearlote">
                  <label for="btn_cancelar_modal_lote">
                      Cancelar
                  </label>
              </div>
              <div class="btn_cerrar">
                  <button id="mostrar_modal" type="submit">Crear lote</button>
              </div>
          </div>
          <label for="btn_cancelar_modal_lote" class="cerrar_modal_crearlote"></label>
      </form>
  </div>
</div>
<!-- MODAL CREAR NUEVO LOTE -->




















<!-- MODAL CREAR NUEVO POTRERO -->
<div class="contenedor_modal_crear_nuevo_potreros">
  <div class="contenido_modal_crear_potrero">
    <div class="contenedor_titulo_icono">
        <div class="titulo_modal_crear_potrero">
            <h2 class="titulo_modal">Crear nuevo potrero</h2>
        </div>
        <div class="icono_1_crear_potrero">
            <input type="checkbox" id="btn_close_modal_crear_potrero" class="btn_modal_cancelar_icono">
            <label for="btn_close_modal_crear_potrero">
                <ion-icon for="btn_modal_cancelar_icono" class="" name="close-outline"></ion-icon>
            </label>
        </div>
    </div>




      <form action="/nuevopotrero" method="POST">
      
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <div class="contenedor_rotacion">
            <div class="contenedor_izquierda">
              <div class="columnas">
                <div class="contenedor_input">
                
              </div>
              
                
              </div>
              
              <div class="izquierda">
                <div class="columnas">
                  
      
                    <div class="contenedor_input">
                      <label for="nombre_potrero">Nombre Potrero</label>
                      <input type="text" id="nombre_potrero" name="nombrepotrero">
                    </div>
        
                    
                    
                    
                    <div class="contenedor_input">
                      <label for="zona">Zona</label>
                      <input type="text" id="zona" name="zonapotrero">
                    </div>
                    
                  </div>
        
                  <div class="columnas">
                    <div class="contenedor_input">
                      <label for="area">Area del Potrero</label>
                      <input type="number" id="area" name="areapotrero">
                    </div>
                    
                    <div class="contenedor_input">
                      <label for="dias">Días</label>
                      <input type="number" id="dias" name="diaspotrero">
                    </div>
                  </div>
                  <div class="columnas">
                    
                    <div class="contenedor_input" style="justify-content: columns;">
                      <label for="pastura">Pastura</label>
                      <input type="text" id="pastura" name="paturapotrero">
                    </div>
                    
                    
                    <div class="contenedor_input" style="justify-content: columns;">
                      <label for="pastura">Coordenadas</label>
                      <input type="text" id="Coordenadas" name="coordenadapotrero">
                    </div>
                  </div>
                  <div class="form-floating">
                    <label for="floatingInput">Estado Potrero</label>
                    <select type="number" class="form-control elegir_potrero" id="floatingInput" placeholder="Estado Potrero" name="estadopotrero">
                      <option value="" selected disabled>Seleccionar Estado</option>
                      <option value="Descanso/Recuperacion">Descanso/Recuperacion</option>
                      <option value="Ocupado/Consumo">Ocupado/Consumo</option>
                    </select>
                  </div>
                  <label for="observacion">Observacion</label>
                  <textarea name="observacionpotrero" id="" cols="auto" rows="6"></textarea>
        
        
                </div>
        
<!--                 <button type="submit" ">
                  <ion-icon name="reload-outline"></ion-icon>
                  Realizar Registro
                </button> -->
        
              </div>
              <div class="contenedor_linea_dividir">
                  <div class="linea_dividir"></div>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                  <div class="linea_dividir"></div>
              </div>
              <div class="contenedor_derecha">
                <h1>Lote</h1>
                <div class="derecha">
                  <label for="lote_ocupante">Lote</label>
                  <input type="text" id="lote_ocupante" name="">
        
                  <label for="ubicacion">Ubicación</label>
                  <input type="text" id="ubicacion" name="">
        
                  <label for="dias">Días</label>
                  <input type="text" id="dias" name="">
        
        
                </div>
                  
              </div>
          </div>
  
      








        <div class="contenedor_modal_botones_crearpotrero">
            <div class="btn_cancelar">
                <input type="checkbox" id="btn_cancelar_modal_crearpotrero" class="btn_modal_cancelar_crearpotrero">
                <label for="btn_cancelar_modal_crearpotrero">
                    Cancelar
                </label>
            </div>
            <div class="btn_cerrar">
                <button id="mostrar_modal" type="submit">Crear potrero</button>
            </div>
            <label for="btn_cancelar_modal_crearpotrero" class="cerrar_modal_crearpotrero"></label>
        </div>
      </form>
    
</div>
</div>
<!-- MODAL CREAR NUEVO POTRERO -->





















    <style>
/* ESTILOS MODAL CREAR POTRERO 2 */
.elegir_potrero {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        font-size: 21px;
        padding-right: 10px;
        background-color: transparent;
        border: 0;
        outline: none;
        color: #fff;
        background-color: #3d3d3d;
        border-radius: 4px;
        height: 38px;
      }

.contenedor_izquierda {
        padding-right: 40px;
      }





      .contenedor_derecha {
        padding-left: 40px;
        justify-content: center;
      }


      .contenedor_izquierda .izquierda {
        display: flex;
        flex-direction: column;
      }

      .contenedor_izquierda .izquierda .columnas .contenedor_input {
        width: 100%;
        
      }


      .contenedor_izquierda .izquierda .columnas .contenedor_input input {
        padding-left: 20px;
      }


      .contenedor_izquierda .izquierda .columnas {
        display: flex;


      }

      .columnas .contenedor_input:nth-child(2) {
        padding-left: 20px;
      }

      .contenedor_izquierda .izquierda .columnas .contenedor_input select {
        background-color: #3d3d3d;
        border-radius: 4px;
        height: 38px;
      }



      .contenedor_izquierda .izquierda .columnas .contenedor_input {
        display: flex;
        flex-direction: column;
      }
      .contenedor_izquierda .izquierda .columnas .contenedor_input2 {
        display: flex;
        flex-direction: column;
      }

      .contenedor_izquierda h1, .contenedor_derecha h1{
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .contenedor_izquierda .izquierda label, .contenedor_derecha .derecha label {
        margin-bottom: 5px;
      }
      .contenedor_izquierda .izquierda input, .contenedor_derecha .derecha input {
        height: 38px;
        padding-left: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #3d3d3d;
        color: #fff;
        font-size: 18px;
        transition: 0.1s ease-in-out;
      }
      .contenedor_izquierda .izquierda textarea{
        padding: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #3d3d3d;
        color: #fff;
        font-size: 18px;
        transition: 0.1s ease-in-out;
        resize: none;

      }

      .contenedor_izquierda input:focus, .contenedor_derecha input:focus, .contenedor_izquierda textarea:focus {
        outline: none; /* Desactiva el contorno predeterminado del navegador */
        box-shadow: 0 0 20px rgb(50, 46, 46); /* Agrega un resplandor rojo de 5 píxeles */

      }

      .contenedor_izquierda textarea {
        font-family: poppins;
      }

      .contenedor_derecha .derecha input[type=date] {
        padding-right: 5px;
      }

      input[type="date"]::-webkit-calendar-picker-indicator {
        color: white;
      }

      .contenedor_izquierda button {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #019A54;
        color: #fff;
        height: 60px;
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        display: flex;

        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
      }

      .contenedor_izquierda button:hover {
        background-color: #027f47;
      }

      .contenedor_izquierda button ion-icon {
        font-size: 23px;
        margin-right: 10px;
      }



      .contenedor_derecha .derecha {
        display: flex;
        flex-direction: column;
      }



      .contenedor_rotacion {
        display: grid;
        grid-template-columns: 1fr 5px 1fr;
        margin-top: 20px;
        margin-bottom: 20px;
        
      }

      .contenedor_linea_dividir ion-icon {
        font-size: 150px;
        color: #0000003c;
        
      }


      .contenedor_linea_dividir {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .linea_dividir {
          width: 5px; /* Ajusta según tus necesidades */
          height: 100%; /* Ajusta según tus necesidades */
          background-color: #0000003c; /* Ajusta el color según tus necesidades */
          margin: 5px 0; /* Ajusta el margen según tus necesidades */
        }


/* ESTILOS MODAL CREAR POTRERO 2 */






/* ESTILOS MODAL CREAR NUEVO POTRERO */
.cerrar_modal_crearlote {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}

.cerrar_modal_crearpotrero {
  height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}


.contenedor_modal_crear_nuevo_potreros {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}


  .modal_lote_crear:checked ~ .contenedor_modal_crear_lote {
  display: flex;
  transition: opacity 2s ease-in-out;
  
}



  .contenido_modal_crear_potrero {
    width: 100%;
    max-width: 1100px;
    padding: 20px;
    background-color: #1D1E22;
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px #1f1f1f;
    transition: .5s ease-in-out;
  }

  .contenedor_modal_botones_crearpotrero {

    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .contenedor_modal_botones_crearpotrero button {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'poppins';
    color: #fff;
  }


/* ESTILOS MODAL CREAR NUEVO POTRERO */
.titulo_modal {
        color: #fff;
        font-weight: 100;
    }
    .contenedor_titulo_icono {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 0.7px solid rgb(150,150,150);
    }

    .contenedor_titulo_icono .icono_1_crear_potrero ion-icon {
        font-size: 27px;
        cursor: pointer;
    }

    .contenedor_crear_nuevo_potrero {
        margin-top: 20px;

    }

    .contenedor_crear_nuevo_potrero label {
        margin-bottom: 10px;
    }



    .contenedor_modal_nuevo_potrero, .contenedor_potrero_ocupante {
        display: flex;
        flex-direction: column;
        color: #fff;
        width: 100%;
    }

    .contenedor_modal_nuevo_potrero {
        margin-bottom: 10px;
    }

    .contenedor_potrero_ocupante {
        margin-bottom: 40px;
    }

    .contenedor_modal_nuevo_potrero input[type=text], .contenedor_potrero_ocupante select {
        height: 40px;
        border-radius: 6px;
        outline: none;
        border: 0;
        background-color: rgb(90,90,90);
        color: rgb(225, 225, 225);
        padding-left: 10px;
        font-size: 18px;
    }





    /* ESTILOS MODAL CREAR NUEVO POTRERO GENERAL */
.titulo_modal {
        color: #fff;
        font-weight: 100;
    }
    .contenedor_titulo_icono {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 0.7px solid rgb(150,150,150);
    }

    .contenedor_titulo_icono .icono_1_crear_lote ion-icon {
        font-size: 27px;
        cursor: pointer;
    }

    .contenedor_crear_lote {
        margin-top: 20px;

    }

    .contenedor_crear_lote label {
        margin-bottom: 10px;
    }



    .contenedor_nombre_lote, .contenedor_potrero_ocupante {
        display: flex;
        flex-direction: column;
        color: #fff;
    }

    .contenedor_nombre_lote {
        margin-bottom: 10px;
    }

    .contenedor_potrero_ocupante {
        margin-bottom: 40px;
    }

    .contenedor_nombre_lote input[type=text], .contenedor_potrero_ocupante select {
        height: 40px;
        border-radius: 6px;
        outline: none;
        border: 0;
        background-color: rgb(90,90,90);
        color: rgb(225, 225, 225);
        padding-left: 10px;
        font-size: 18px;
    }
/* ESTILOS MODAL CREAR NUEVO POTRERO GENERAL */









/* MODAL CREAR NUEVO LOTE */
.cerrar_modal_crearlote {
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
}


.contenedor_modal_crear_lote {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(10, 10, 10, 0.7);
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}


  .modal_lote_crear:checked ~ .contenedor_modal_crear_lote {
  display: flex;
  transition: opacity 2s ease-in-out;
  
}

  .contenido_modal_crear_lote {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #1D1E22;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 0 20px #1f1f1f;
    transition: .5s ease-in-out;
  }

  .contenedor_modal_botones_crearlote {

    display: flex;
    justify-content: center;
    gap: 15px;
  }

  .contenedor_modal_botones_crearlote button {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 16px;
    font-family: 'poppins';
    color: #fff;
  }
/* MODAL CREAR NUEVO LOTE */














/* ESTILOS BOTON CREAR NUEVO LOTE */
.btn_lote_crear {
    float: right;
    background-color: var(--color-principal);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s ease-in-out;
    margin-right: 16px;

  }

  .btn_lote_crear:hover {
    background-color: #006739;
  }

  .btn_lote_crear h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .btn_lote_crear ion-icon {
    font-size: 26px;
    margin-right: 5px;
  }


  .btn_lote_crear a {
    white-space: nowrap;
  }
/* ESTILOS BOTON CREAR NUEVO LOTE */






/* ESTILOS BOTON CREAR NUEVO POTRERO */



.btn_potrero_crear {
    float: right;
    background-color: var(--color-principal);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .1s ease-in-out;

  }

  .btn_potrero_crear:hover {
    background-color: #006739;
  }

  .btn_potrero_crear h3 {
    font-size: 18px;
    font-weight: 400;
  }
  .btn_potrero_crear ion-icon {
    font-size: 26px;
    margin-right: 5px;
  }


  .btn_potrero_crear a {
    white-space: nowrap;
  }


/* ESTILOS BOTON CREAR NUEVO POTRERO */



















      .elegir_potrero {
        width: 100%;
        height: 60px;
        margin-bottom: 20px;
        font-size: 21px;
        padding-right: 10px;
        background-color: transparent;
        border: 0;
        outline: none;
        color: #fff;
        background-color: #3d3d3d;
        border-radius: 4px;
        height: 38px;
      }

      .contenedor_izquierda {
        padding-right: 40px;
      }
      .contenedor_derecha {
        padding-left: 40px;
        justify-content: center;
      }


      .contenedor_izquierda .izquierda {
        display: flex;
        flex-direction: column;
      }

      .contenedor_izquierda .izquierda .columnas .contenedor_input {
        width: 100%;
      }

      .contenedor_izquierda .izquierda .columnas {
        display: flex;


      }

      .columnas .contenedor_input:nth-child(2) {
        padding-left: 20px;
      }

      .contenedor_izquierda .izquierda .columnas .contenedor_input select {
        background-color: #3d3d3d;
        border-radius: 4px;
        height: 38px;
      }



      .contenedor_izquierda .izquierda .columnas .contenedor_input {
        display: flex;
        flex-direction: column;
      }
      .contenedor_izquierda .izquierda .columnas .contenedor_input2 {
        display: flex;
        flex-direction: column;
      }

      .contenedor_izquierda h1, .contenedor_derecha h1{
        font-weight: 500;
        font-size: 26px;
        margin-bottom: 20px;
      }
      .contenedor_izquierda .izquierda label, .contenedor_derecha .derecha label {
        margin-bottom: 5px;
      }
      .contenedor_izquierda .izquierda input, .contenedor_derecha .derecha input {
        height: 38px;
        padding-left: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #3d3d3d;
        color: #fff;
        font-size: 18px;
        transition: 0.1s ease-in-out;
      }
      .contenedor_izquierda .izquierda textarea{
        padding-top: 10px;
        padding-left: 10px;
        border: none;
        border-radius: 4px;
        margin-bottom: 20px;
        background-color: #3d3d3d;
        color: #fff;
        font-size: 18px;
        transition: 0.1s ease-in-out;
      }

      .contenedor_izquierda input:focus, .contenedor_derecha input:focus, .contenedor_izquierda textarea:focus {
        outline: none; /* Desactiva el contorno predeterminado del navegador */
        box-shadow: 0 0 20px rgb(50, 46, 46); /* Agrega un resplandor rojo de 5 píxeles */

      }

      .contenedor_izquierda textarea {
        font-family: poppins;
      }

      .contenedor_derecha .derecha input[type=date] {
        padding-right: 5px;
      }



      .contenedor_izquierda button {
        margin: 0;
        padding: 0;
        border: 0;
        background-color: #019A54;
        color: #fff;
        height: 60px;
        width: 200px;
        font-size: 18px;
        padding: 10px;
        border-radius: 8px;
        margin-top: 10px;
        cursor: pointer;
        display: flex;

        align-items: center;
        justify-content: center;
        transition: 0.2s ease-in-out;
      }

      .contenedor_izquierda button:hover {
        background-color: #027f47;
      }

      .contenedor_izquierda button ion-icon {
        font-size: 23px;
        margin-right: 10px;
      }



      .contenedor_derecha .derecha {
        display: flex;
        flex-direction: column;
      }



      .contenedor_rotacion {
        display: grid;
        grid-template-columns: 1fr 5px 1fr;
        
      }

      .contenedor_linea_dividir ion-icon {
        font-size: 150px;
        color: #0000003c;
        
      }


      .contenedor_linea_dividir {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .linea_dividir {
          width: 5px; /* Ajusta según tus necesidades */
          height: 100%; /* Ajusta según tus necesidades */
          background-color: #0000003c; /* Ajusta el color según tus necesidades */
          margin: 5px 0; /* Ajusta el margen según tus necesidades */
        }


        .linea_nav_gestionar {
            width: 100%;
            height: 4px;
            background: #0000003c;
            border-right: 1px solid #0000003c;
        }
    
    
        .contenedor_tabla_potreros {
            width: 100%;
        }
    
        .contenedor_tabla_potreros .tabla_potreros {
            width: 100%;
        }
    
      .nav_gestionar_potreros {
        position: relative;
        width: auto;
        height: 50px;
        border-radius: 8px;
        font-size: 0;
        color: #fff;
        margin-bottom: 30px;
    
      }
    
      body.active .nav_gestionar_potreros a {
        color: #fff;
      }
    
      .nav_gestionar_potreros a {
        font-size: 18px;
        text-decoration: none;
        color: #fff;
        line-height: 60px;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: center;
        padding: 0 20px;
      }
    
      .nav_gestionar_potreros .animation {
        position: absolute;
        height: 4px;
        bottom: -28%;
        z-index: 0;
        background: #019A54;
        border-radius: 8px;
        transition: all 0.5s ease 0s;
      }
    
      .nav_gestionar_potreros a:nth-child(1) {
        width: 140px;
      }
    
      .nav_gestionar_potreros .start-home,.nav_gestionar_potreros a:nth-child(1):hover~.animation {
        width: 90px;
        left: 140px;
      }

    
      .nav_gestionar_potreros a:hover ~ .animation {
        transition: var(--transicion);
      }
    
      .nav_gestionar_potreros a:nth-child(1):hover ~ .animation {
        width: 140px;
        left: 0;
      }
    
      .nav_gestionar_potreros a:nth-child(2):hover ~ .animation {
        width: 90px;
        left: 140px;
      }
    
      .nav_gestionar_potreros a:nth-child(3):hover ~ .animation {
        width: 170px;
        left: 225px;
      }
    
      .nav_gestionar_potreros a:nth-child(4):hover ~ .animation {
        width: 95px;
        left: 390px;
      }
    </style>













    



{% include ('footer.html') %}