:root {
    --oscuro: #121212;
    --header: #1F1F1F;
    --texto_blanco: #fff;
    --transicion: 0.2s ease-in;
}



table .tabla_potreros {
    background-color: blue;
}

.tabla_potreros_completa .dataTables_filter {
    background: #000;
}

.contenedor_gestionar_potreros {
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

body .contenedor_gestionar_potreros {
    background-color: var(--header);
}
